table {
    border-collapse: collapse;
    width: 100%;
    }
    
    th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    }
    
    tr:nth-child(even) {
    background-color: #f2f2f2;
    }
   .card-title button a{
 list-style: none;
 text-decoration: none;
 font-size: 15px;
 color:rebeccapurple;
    }